# Files processing for the VMI project

In [39]:
import pandas as pd, json, csv

In [40]:
# Variables

file_path = '../data/tech_salaries.csv'
table = 'salaries'

In [41]:
# Maybe in a utils file

def transform_types(dictionary: dict, list_1: list, list_2: list):
    for llave in list_1:
        if llave in dictionary.keys():
            value_type = list_2.pop(0)
            dictionary[llave] = value_type(dictionary[llave])
        else:
            raise Exception("The dictionary does not meet the required keys")
    return dictionary

In [42]:
csv_file = pd.read_csv(file_path)

In [43]:
csv_file = csv_file.drop(columns=['Unnamed: 0'])
csv_file

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025,MI,FT,Penetration Tester,1336608,INR,15804,IN,0,IN,L
1,2025,MI,CT,Security Engineer,130000,USD,130000,US,0,US,M
2,2025,MI,CT,Security Engineer,120000,USD,120000,US,0,US,M
3,2025,MI,FT,Security Engineer,120000,USD,120000,US,0,US,M
4,2025,MI,FT,Security Engineer,80000,USD,80000,US,0,US,M
...,...,...,...,...,...,...,...,...,...,...,...
65112,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
65113,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
65114,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
65115,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
65116,2022,MI,FT,Data Scientist,200000,USD,200000,IN,100,US,L

In [ ]:
csv_file = csv_file.to_csv('tech_salaries2.csv', index=False)

## Method A

In [ ]:
def leer():
    with open(file_path, newline='', mode='r') as file:
        csv_file = csv.DictReader(file)
        for row in csv_file:
            yield row

def comprobar(dictionary: dict):
    if table == "users":
        columns = ['user_id', 'age', 'country', 'subscription_type', 'registration_date', 'total_watch_time_hours']
        data_types = [str, int, str, str, str, float]
        processed_dict = transform_types(dictionary, columns, data_types)
        return processed_dict
    else:
        columns = ['session_id','user_id', 'content_id', 'watch_date', 'watch_duration_minutes', 'completion_percentage', 'device_type', 'quality_level']
        data_types = [str, str, str, str, int, float, str, str]
        processed_dict = transform_types(dictionary, columns, data_types)
        return processed_dict

def preparar(dictionary: dict):
    new_dict = comprobar(dictionary)
    payload_body = {
        'table': table,
        'data': new_dict
    }
    return payload_body


def enviar(dictionary: dict):
    dictionary = preparar(dictionary)
    response = print(f"Se envió correctamente {dictionary}")
    return response

if __name__ == '__main__':
    for dictionary in leer():
        enviar(dictionary)

## Method B

In [ ]:
def leer():
    df_csv = pd.read_csv(file_path)
    return df_csv

def comprobar():
    df = leer()
    columns = list(df.columns)
    if table == "users":
        data_types = [str, int, str, str, str, float]
        for column in columns:
            data_type = data_types.pop(0)
            df = df.astype({column : data_type})
        df = df.to_json(orient='records')
        df_processed = json.loads(df)
        for dictionary in df_processed:
            yield dictionary
    else:
        data_types = [str, str, str, str, int, float, str, str]
        for column in columns:
            data_type = data_types.pop(0)
            df = df.astype({column : data_type})
        df = df.to_json(orient='records')
        df_processed = json.loads(df)
        for dictionary in df_processed:
            yield dictionary

def preparar(dictionary: dict):
    payload_body = {
        'table': table,
        'data': dictionary
    }
    return payload_body

def enviar(dictionary: dict):
    response= preparar(dictionary)
    print(f"Se ha enviado {response}")

if __name__ == '__main__':
    for dictionary in comprobar():
        enviar(dictionary)

## Method C

In [ ]:
def leer():
    with open(file_path,'r') as file:
        df_json = pd.read_csv(file)
        return df_json

def convertir_columnas():
    df = leer()
    columnas = list(df.columns)
    if table == "tech":
        data_types = [str, int, str, str, str, float]
        for column in columnas:
            item = data_types.pop(0)
            df = df.astype({column: item})
        df_processed = df.to_json(orient='records')
        json_processed = json.loads(df_processed)
        return json_processed
    else:
        data_types = [str, str, str, str, int, float, str, str]
        for column in columnas:
            item = data_types.pop(0)
            df = df.astype({column: item})
        df_processed = df.to_json(orient='records')
        json_processed = json.loads(df_processed)
        return json_processed

def preparar():
    data = convertir_columnas()
    payload_body = {
    'table': table,
    'data': data
    }
    return payload_body    

def enviar():
    response = preparar()
    print(f"¡Se envío correctamente la siguiente información!:\n {response}")
        
if __name__ == '__main__':
    enviar()

## Method D

In [ ]:
def leer():
    with open(file_path,'r') as file:
        json_data = json.load(file)[data]
    for dictionary in json_data:
        yield dictionary
def comprobar(dictionary:dict):
    if data == 'movies':
        llaves_permitidas = ['_id','title','genre','duration_minutes','release_year','rating','views_count','production_budget']
        data_types = [str, str, list, int, int, float, int, int]
        payload_data = transform_types(dictionary, llaves_permitidas, data_types)
        return payload_data
    elif data == 'series':
        llaves_permitidas = ['_id','title','genre','seasons','episodes_per_season','avg_episode_duration','rating','total_views', 'production_budget']
        data_types = [str, str, list, int, list, int, float, int, int]
        payload_data = transform_types(dictionary, llaves_permitidas, data_types)
        return payload_data

def preparar(dictionary:str):
    new_dict = comprobar(dictionary)
    payload_body = {
        'collection': data,
        'data': new_dict
    }
    return payload_body

def enviar(dictionary):
    dictionary = preparar(dictionary)
    to_API = dictionary
    response = print(f"Se envió correctamente {to_API}")
    return response
    
    
if __name__ == '__main__':
    for dictionary in leer():
        enviar(dictionary)